* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Verdana;
}
li {
	list-style: none;
}
.wrapper {
	width: 75%;
  margin: 100px auto 0;
}
.header {
	display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  align-items: baseline;
}
.logo {
	font-size: 60px;
}
.header-nav {
	width: 400px;
}
.nav-menu {
	display: flex;
	justify-content: space-between;
	width: 55%;
}
.main {
	display: flex;
}
.section1 {
	width: 29%;
}
.section2 {
	display: flex;
	width: 60%;
	flex-direction: column;
}
.section3 {
	width: 29%;
}
.content-container {
	display: flex;
  margin: 30px 0;
  flex-direction: column;
}
.content {
	width: 80%;
	height: 300px;
	border: 1px solid;
}
.footer {
	display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.footer-nav {
	display: flex;
	justify-content: space-between;
}
.copyright {
	margin: 0 auto;
	font-size: 13px;
}